@font-face {
    font-family: badmosh;
    src: url(./moranga.ttf);
  }
  
  @font-face {
    font-family: semi;
    src: url(./Gilroy-Semibold.otf);
  }
  
  @font-face {
    font-family: chota;
    src: url(./Gilroy-Medium.otf);
  }
  
  @font-face {
    font-family: bada;
    src: url(./Gilroy-bold.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  .extra{
    height: 90vh;
    width: 100%;
    background-color: #222222;
    position: absolute;
    z-index: 100;
    transition: all ease 1s;
    top: -100%;
  }
  .extra h1{
    color: white;
    font-family: badmosh;
    font-size: 5vw;
    text-align: center;
  }
  .extra p{
    color: white;
    text-align: center;
    font-size: 2.3vw;
    font-family: semi;
    line-height: 4.5vw;
  }
  .about {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .page1 {
    min-height: 100vh;
    width: 100vw;
    background-color: #111111;
    color: white;
    padding: 2vw 1.5vw;
    position: relative;
  }
  
  .nav {
    display: flex;
    gap: 69vw;
    padding: 1vw 1.5vw;
    position: fixed;
    z-index: 100;
  }
  
  .nav h1 {
    font-size: 3vw;
    font-family: badmosh;
    line-height: 2.3vw;
  }
  
  .nav button {
    height: 40px;
    width: 180px;
    background-color: #43D5EA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: semi;
    box-shadow: 0 0 30px #0ef;
    transition: all ease 0.5s;
    color: white;
    border-style: none;
  }
  .bkl:hover{
    cursor: pointer;
  }
  .nav .btn:hover {
    scale: 1.1;
    cursor: pointer;
  }
  
  .nav2 {
    position: relative;
  }
  
  .nav2 {
    font-size: 2vw;
    text-align: center;
    font-family: badmosh;
    padding: 4vw 0vw;
  }
  
  .nav2 img {
    height: 600px;
    width: 1000px;
    background-size: cover;
    background-position: center;
    padding: 2vw 0vw;
  }
  
  .nav2 h2 {
    position: absolute;
    top: 45vw;
    right: 36.5vw;
    font-size: 7vw;
    line-height: 4.5vw;
  }
  
  .page2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #111111;
  }
  
  .page2 h1 {
    color: white;
    white-space: nowrap;
    font-size: 9vw;
    font-family: badmosh;
  }
  .semi2{
   min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-color: #111111;
    font-family: badmosh;
  }
  .semi2 h1{
    color: white;
    text-align: center;
    margin-top: 3vw;
    font-size: 55px;
    cursor: pointer;
  }
  .semi2 h1:hover{
    text-decoration: line-through;
  }
  .semi2 video{
    height: 70vh;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 2vw;
  }
  .pt{
    min-height: 50vh;
    width: 100%;
  }
  .pt1{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("slide1.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt h1{
    font-size: 40px;
  }
  .pt1:hover{
    scale: 1.1;
  }
  .pt2{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("blacked.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt2:hover{
    scale: 1.1;
  }
  .pt3{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("caes.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt3:hover{
    scale: 1.1;
  }
  .pt4{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("vianys.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt4:hover{
    scale: 1.1;
  }
  .pt5{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("project.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt5:hover{
    scale: 1.1;
  }
  .pt6{
    height: 50vh;
    width: 30vw;
    background-color: red;
    margin-left: 35vw;
    margin-top: 5vw;
    background-image: url("blacked.png");
    background-position: center;
    background-size: cover;
    border-radius: 4vw;
    border: 2px solid white;
    transition: all ease 1s;
    box-shadow: 0  0 50px white;
  }
  .pt6:hover{
    scale: 1.1;
  }
  .page3 {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: #111111;
    color: white;
    font-family: badmosh;
  }
  
  .page3 h1 {
    padding: 5vw 0vw;
    text-align: center;
    font-size: 5.5vw;
    line-height: 7vw;
  }
  
  .buttons {
    width: 100%;
    display: flex;
    gap: 3vw;
    justify-content: center;
    padding: 2vw 0vw;
  }
  
  .button1 {
    height: 45px;
    width: 100px;
    border-radius: 23px;
    background-color: #58C2F9;
    font-family: badmosh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button2 {
    height: 45px;
    width: 160px;
    border-radius: 23px;
    background-color: #FA5A5A;
    font-family: badmosh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button2 span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4.5px;
    font-size: 1.4vw;
  }
  
  .page4 {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
    color: white;
    font-family: badmosh;
    z-index: 110;
  }
  
  .page4 h1 {
    padding-top: 3vw;
    padding-left: 3vw;
    font-size: 4vw;
    font-family: chota;
  }
  
  .page4 p {
    padding-left: 3vw;
    padding-top: 1vw;
    font-size: 1.8vw;
    font-family: bada;
  }
  
  .page4 .box {
    height: 40px;
    width: 200px;
    font-size: 1.6vw;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 3vw;
  }
  
  .images {
    padding: 1vw 3vw;
    gap: 3vw;
  }
  
  .images img {
    margin-left: 1vw;
    height: 60px;
    width: 60px;
    border-radius: 10%;
    border: 2px solid white;
  }
  
  .flt {
    position: absolute;
    right: 10vw;
    top: 10vw;
  }
  
  .flt img {
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 100px #aef;
    border: 2px solid #0ef;
    transition: all ease 1s;
  }
  
  .page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
    position: relative;
    overflow: hidden;
  
  }
  
  .page5 video {
    height: 75vh;
    width: 85vw;
    border-radius: 10vw;
    margin: 2vw 6vw;
  }
  
  .page5 h1 {
    color: white;
    font-family: badmosh;
    font-size: 4vw;
    padding: 2vw 3vw;
  }
  
  .page5 p {
    font-size: 3vw;
    font-family: semi;
    color: white;
    padding: 0vw 3vw;
  }
  
  .work{
      height: 50px;
      width: 50px;
      background-color: cyan;
      border-radius: 50%;
      border-style:none;
      font-size: 2vw;
  }
  
  .button3 {
    height: 100px;
    width: 200px;
    font-size: 2.5vw;
    margin-left: 80vw;
    margin-top: 2vw;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: badmosh;
    line-height: 2.7vw;
  }
  
  .page6 {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: #222222;
    font-size: 4vw;
    text-align: left;
    font-family: badmosh;
  }
  .page6 h1{
    padding: 1vw 3vw;
  }
  .page6 span:hover{
    text-decoration: line-through;
  }
  .page6 p{
    font-size: 2vw;
    text-align: center;
    margin-top: 11vw;
  }
  
  
  @media (max-width:600px) {
    .extra{
      height: 80vh;
      width: 100%;
      background-color: #222222;
      position: absolute;
      z-index: 100;
      top: -100%;
      transition: all ease 1s;
      border-bottom-left-radius: 10vw;
      border-bottom-right-radius: 10vw;
    }
    .extra h1{
      color: white;
      font-family: badmosh;
      font-size: 15vw;
      text-align: center;
      margin-top: 16vw;
    }
    .extra p{
      color: white;
      text-align: center;
      font-size: 6.3vw;
      font-family: semi;
      line-height: 9.5vw;
    }
    
    
    .about {
      height:100%;
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    
    .page1 {
      height:100vh;
      width: 100vw;
      background-color: #111111;
      color: white;
      padding: 2vw 1.5vw;
      position: relative;
    }
    
    .nav {
      margin-top: 4vw;
      display: flex;
      gap: 22vw;
      padding: 1vw 1.5vw;
      position: fixed;
      z-index: 100;
    }
    
    .nav h1 {
      font-size: 9vw;
      font-family: badmosh;
      line-height: 6.3vw;
    }
    
    .nav .btn {
      height: 40px;
      width: 140px;
      background-color: #43D5EA;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: semi;
      box-shadow: 0 0 30px #0ef;
      transition: all ease 0.5s;
    }
    .nav .btn p{
      font-size: 3.5vw;
    }
    
    .nav .btn:hover {
      scale: 1.1;
      cursor: pointer;
    }
    
    .nav2 {
      margin-top: 20vw;
      position: relative;
    }
    
    .nav2 {
      font-size: 2vw;
      text-align: center;
      font-family: badmosh;
      padding: 25vw 0vw;
    }
    .nav2 h1{
      font-size: 12vw;
    }
    .nav2 img {
      height: 300px;
      width: 400px;
      background-size: cover;
     padding-top: 25vw;
    }
    
    .nav2 h2 {
      position: absolute;
      top: 132.9vw;
      right: 17.5vw;
      font-size: 15vw;
      line-height: 8.4vw;
    }
    .page2 {
      position: relative;
      overflow: hidden;
      width: 100%;
      background-color: #111111;
    }
    
    .page2 h1 {
      color: white;
      white-space: nowrap;
      font-size: 20vw;
      font-family: badmosh;
    }
    
    .page3 {
      position: relative;
      overflow: hidden;
      min-height: 60vh;
      width: 100%;
      background-color: #111111;
      color: white;
      font-family: badmosh;
    }
    
    .page3 h1 {
      padding: 5vw 0vw;
      text-align: center;
      font-size: 9.5vw;
      line-height: 11vw;
    }
    
    .buttons {
      width: 100%;
      display: flex;
      gap: 9vw;
      justify-content: center;
      padding: 2vw 0vw;
    }
    
    .button1 {
      height: 45px;
      width: 100px;
      border-radius: 23px;
      background-color: #58C2F9;
      font-family: badmosh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .button2 {
      height: 45px;
      width: 160px;
      border-radius: 23px;
      background-color: #FA5A5A;
      font-family: badmosh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .button2 span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 4.5px;
      font-size: 1.4vw;
    }
    .page4 {
      position: relative;
      overflow: hidden;
      min-height: 120vh;
      width: 100%;
      background-color: #222222;
      color: white;
      font-family: badmosh;
      z-index: 110;
    }
    
    .page4 h1 {
      padding-top: 7vw;
      padding-left: 3vw;
      font-size: 12vw;
      font-family: chota;
    }
    
    .page4 p {
      padding-left: 3vw;
      padding-top: 1vw;
      font-size: 4.8vw;
      font-family: bada;
    }
    
    .page4 .box {
      height: 40px;
      width: 200px;
      font-size: 7.6vw;
      border: 3px solid white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2vw 3vw;
    }
    
    .images {
      padding: 7vw 3vw;
      gap: 6vw;
    }
    
    .images img {
      margin-left: 1vw;
      height: 40px;
      width: 40px;
      border-radius: 10%;
      border: 2px solid white;
    }
    
    .flt {
      position: absolute;
      top: 160vw;
    }
    
    .flt img {
      height: 300px;
      width: 300px;
      background-size: cover;
      background-position: center;
      border-radius: 40px;
      box-shadow: 0 0 100px #aef;
      border: 2px solid #0ef;
      transition: all ease 1s;
    }
    
    .page5 {
      min-height: 60vh;
      width: 100%;
      background-color: #222222;
      position: relative;
      overflow: hidden;
    
    }
    
    .page5 video {
      height: 75vh;
      width: 85vw;
      border-radius: 10vw;
      margin: 0vw 6vw;
    }
    
    .page5 h1 {
      color: white;
      font-family: badmosh;
      font-size: 10vw;
      padding: 5vw 3vw;
    }
    
    .page5 p {
      font-size: 4.5vw;
      font-family: semi;
      color: white;
      padding: 0vw 3vw;
    }
    
    .red {
      height: 45px;
      width: 49px;
      border-radius: 50%;
      background-color: cyan;
      color: white;
      gap: 19vw;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 25px cyan;
    }
    
    .button3 {
      height: 20px;
      width: 200px;
      position: absolute;
      bottom: 30vw;
      font-size: 9.5vw;
      margin-left: 20vw;
      color: white;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-family: badmosh;
      line-height: 8.7vw;
    }
    
    .page6 {
      height: 73vh;
      width: 100%;
      color: white;
      background-color: #222222;
      font-size: 7vw;
      text-align: left;
      font-family: badmosh;
    }
    .page6 h1{
      padding: 1vw 3vw;
    }
    .page6 span:hover{
      text-decoration: line-through;
    }
    .page6 p{
      font-size: 5vw;
      text-align: center;
      margin-top: 11vw;
    }
    .semi2{
      min-height: 100vh;
       width: 100vw;
     }
     .semi2 h1{
       font-size: 45px;
     }
     .semi2 video{
       height: 100vh;
       width: 90vw;
       margin-left: 2vw;
       position: absolute;
       top: -30vw;
     }
     .pt{
       margin-top: 80vw;
     }
     .pt h1{
      font-size: 30px;
     }
     .pt1{
       height: 50vh;
       width: 80vw;
       margin-left: 6vw;
     }
     .pt2{
      height: 50vh;
      width: 80vw;
      margin-left: 6vw;
     }
     .pt3{
      height: 50vh;
      width: 80vw;
      margin-left: 6vw;
     }
     .pt4{
      height: 50vh;
      width: 80vw;
      margin-left: 6vw;
     }
     .pt5{
      height: 50vh;
      width: 80vw;
      margin-left: 6vw;
     }
     .pt6{
      height: 50vh;
      width: 80vw;
      margin-left: 6vw;
     }
  }  
